.flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
.section_break {
  margin-top: 74px;
  text-align: center;
  margin-bottom: 64px;
}
.flex_item {
  width: 566px;
  height: 258px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 48px 0px;
  transition: all 0.3s;
}

/* hover effect start */
.flex_item:hover {
  transform: scale(1.05);
}
/* hover effect end */
@media screen and (max-width: 600px) {
  .flex_item {
    width: 327px;
    height: 230px;
    margin: 0px 0px 20px 0px;
  }
  .water_mobile,
  .meta_mobile,
  .calories_mobile {
    height: 173px;
  }
  .section_break {
    margin: 32px 0px 25px 0px;
  }
}
