.kilos_box {
  width: 340px;
  height: 230px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.kilo_main {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  /* transform: translateY(-50%); */
  color: #31c062;
}
.percentage {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #31c062;
}
.kilos_box span {
  color: #31c062;
}
.kilos_box p {
  font-family: Cabin;
  font-weight: 400;
  max-width: 204px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
