.flex_container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex_item_1 {
  display: flex;
  margin-left: 32px;
  margin-top: 57px;
}
.flex_item_2 {
  display: flex;
  text-align: left;
}
.result_2 {
  text-align: left;
  margin: 0px 0px 52px 20px;
}
.balance_result {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  color: #222222;
}
.water_drop {
  width: 45px;
  height: 64px;
}

/* mobile */
@media screen and (max-width: 600px) {
  .balance_result {
    font-size: 30px;
  }
  .water_drop {
    width: 35px;
    height: 50px;
  }
  .flex_item_1 {
    margin: 26px 0px 25px 23px;
  }
  .result_2 {
    margin: 0px 0px 25px 23px;
  }
}
