/* layouting */
.flex_container {
  display: flex;
  flex-direction: row;
  padding: 0 130px;
  justify-content: space-between;
}
.flex_container_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex_item_right {
  padding: 0 20px;
  position: relative;
}
.flex_item_right:after {
  content: "";
  position: absolute;
  top: 35%;
  right: 0;
  width: 1px;
  height: 32px;
  opacity: 0.2;
  background: #222222;
}
/* hide last line */
.flex_item_right:last-child:after {
  opacity: 0;
}
/* typography */
.sub_headline {
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
  font-weight: 700;
}
.additional_info {
  font-size: 16px;
  padding-left: 7px;
  line-height: 19px;
  font-style: normal;
  font-weight: 500;
  color: #222222;
}
/* mobile layouting start */
@media screen and (max-width: 600px) {
  .flex_container {
    flex-direction: column;
    padding: 16px 0px 10px 24px;
    align-items: flex-start;
  }
  .sub_headline {
    font-size: 28px;
    line-height: 34px;
    margin-top: 0px;
  }
  .additional_info {
    font-size: 16px;
    line-height: 19px;
    padding-left: 3px;
  }
  .flex_item_right:first-child {
    padding-left: 0px;
  }
  .flex_item_right:after {
    top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .flex_container {
    padding: 0px 24px 0px 24px;
  }
}
/* mobile layouting end */
