/* layout */
.flex_container {
  display: flex;
  height: 80px;
  background-color: #027bff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
}
/* buttons */
.main__cta {
  background: #ffffff;
  border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  color: #027bff;
  width: 210px;
  height: 44px;
}

/* logo styling */
.brand__logo {
  width: 110px;
  height: 33, 85px;
  margin-left: 130px;
}
/*start mobile+tablet */
@media screen and (max-width: 600px) {
  .flex_container {
    padding: 0 24px;
  }
  .main__cta {
    width: 146px;
    height: 44px;
  }
}
@media screen and (max-width: 768px) {
  .flex_container {
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 414px) {
  .flex_container {
    margin: 0px 20px 0px 20px;
  }
}
@media screen and (max-width: 375px) {
  .flex_container {
    margin: 0px;
  }
}
/*end mobile+tablet */
